<a href="https://colab.research.google.com/github/LyIron23/GitLab/blob/main/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [ ]:
# import dataset
pokemon = pd.read_csv("/content/drive/MyDrive/Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [ ]:
# your code here
print(pokemon.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [ ]:
# your code here
# Extract unique values from Type 1 and Type 2 columns, while handling NaN values
type1_values = set(pokemon['Type 1'].dropna().unique())
type2_values = set(pokemon['Type 2'].dropna().unique())

# Combine
distinct_types = list(type1_values.union(type2_values))

print(distinct_types)

['Fighting', 'Bug', 'Fire', 'Electric', 'Water', 'Steel', 'Rock', 'Grass', 'Dragon', 'Ghost', 'Dark', 'Normal', 'Ice', 'Fairy', 'Psychic', 'Flying', 'Ground', 'Poison']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [ ]:
# your code here
# Clean up
pokemon['Name'] = pokemon['Name'].apply(lambda name: name.replace(name.split('Mega')[0], '') if 'Mega' in name else name)

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [ ]:
# your code here
# New column
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

print(pokemon.head(10))

   #        Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1   Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2     Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3    Venusaur  Grass  Poison    525  80      82       83      100      100
3  3       Mega   Grass  Poison    625  80     100      123      122      120
4  4  Charmander   Fire     NaN    309  39      52       43       60       50
5  5  Charmeleon   Fire     NaN    405  58      64       58       80       65
6  6   Charizard   Fire  Flying    534  78      84       78      109       85
7  6     Mega  X   Fire  Dragon    634  78     130      111      130       85
8  6     Mega  Y   Fire  Flying    634  78     104       78      159      115
9  7    Squirtle  Water     NaN    314  44      48       65       50       64

   Speed  Generation  Legendary  A/D Ratio
0     45           1      False   1.000000
1     60           1      False   0.984127
2     80           1      False   0.987952
3     80           1      False   0.813008
4     65           1      False   1.209302
5     80           1      False   1.103448
6    100           1      False   1.076923
7    100           1      False   1.171171
8    100           1      False   1.333333
9     43           1      False   0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here
pokemon_with_highest_ad_ratio = pokemon.loc[pokemon['A/D Ratio'].idxmax()]
print(pokemon_with_highest_ad_ratio)

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
A/D Ratio                    9.0
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [ ]:
# your code here

pokemon_with_lowest_ad_ratio = pokemon.loc[pokemon['A/D Ratio'].idxmin()]
print(pokemon_with_lowest_ad_ratio)

#                  213
Name           Shuckle
Type 1             Bug
Type 2            Rock
Total              505
HP                  20
Attack              10
Defense            230
Sp. Atk             10
Sp. Def            230
Speed                5
Generation           2
Legendary        False
A/D Ratio     0.043478
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [ ]:
# your code here
# Create the ccombo typee column
pokemon['Combo Type'] = pokemon.apply(lambda row: row['Type 1'] if pd.isna(row['Type 2']) else f"{row['Type 1']}-{row['Type 2']}", axis=1)

# Print the first 10 rows to check the new column
print(pokemon.head(10))

   #        Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1   Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2     Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3    Venusaur  Grass  Poison    525  80      82       83      100      100
3  3       Mega   Grass  Poison    625  80     100      123      122      120
4  4  Charmander   Fire     NaN    309  39      52       43       60       50
5  5  Charmeleon   Fire     NaN    405  58      64       58       80       65
6  6   Charizard   Fire  Flying    534  78      84       78      109       85
7  6     Mega  X   Fire  Dragon    634  78     130      111      130       85
8  6     Mega  Y   Fire  Flying    634  78     104       78      159      115
9  7    Squirtle  Water     NaN    314  44      48       65       50       64

   Speed  Generation  Legendary  A/D Ratio    Combo Type
0     45           1      False   1.000000  Grass-Poison
1     60           1      False   0.984127  Grass-Poison
2     80           1      False   0.987952  Grass-Poison
3     80           1      False   0.813008  Grass-Poison
4     65           1      False   1.209302          Fire
5     80           1      False   1.103448          Fire
6    100           1      False   1.076923   Fire-Flying
7    100           1      False   1.171171   Fire-Dragon
8    100           1      False   1.333333   Fire-Flying
9     43           1      False   0.738462         Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# your code here
# sorting the DataFrame by A/D Ratio in descending order
top_pokemon_by_ad_ratio = pokemon.sort_values(by='A/D Ratio', ascending=False)

print(top_pokemon_by_ad_ratio.head(5))

       #                Name   Type 1  Type 2  Total  HP  Attack  Defense  \
429  386  DeoxysAttack Forme  Psychic     NaN    600  50     180       20
347  318            Carvanha    Water    Dark    305  45      90       20
19    15               Mega       Bug  Poison    495  65     150       40
453  408            Cranidos     Rock     NaN    350  67     125       40
348  319            Sharpedo    Water    Dark    460  70     120       40

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio  Combo Type
429      180       20    150           3       True      9.000     Psychic
347       65       20     65           3      False      4.500  Water-Dark
19        15       80    145           1      False      3.750  Bug-Poison
453       30       30     58           4      False      3.125        Rock
348       95       40     95           3      False      3.000  Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

# Get the top 5 Pokemon above
top_5_pokemon = top_pokemon_by_ad_ratio.head(5)

# Extract the combo types values store them in a list
distinct_combo_types = top_5_pokemon['Combo Type'].unique().tolist()
print(distinct_combo_types)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

### I can not click/open the pic that supposed to show me how my output should look like

In [ ]:
# your code here
combo_types = ['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

# Filter the Pokemon DataFrame for the specified combo types
filtered_pokemon = pokemon[pokemon['Combo Type'].isin(combo_types)]

# mean
mean_scores = filtered_pokemon.mean()

print(mean_scores)

#             348.953846
Total         438.092308
HP             68.015385
Attack         75.969231
Defense        70.892308
Sp. Atk        79.276923
Sp. Def        73.061538
Speed          70.876923
Generation      3.215385
Legendary       0.153846
A/D Ratio       1.309597
dtype: float64

<ipython-input-28-f2cef224e263>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_scores = filtered_pokemon.mean()

In [ ]:
combo_types = ['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

# Filter the Pokemon DataFrame for the specified combo types
filtered_pokemon = pokemon[pokemon['Combo Type'].isin(combo_types)]

# the mean scores for all numeric only
mean_scores = filtered_pokemon.mean(numeric_only=True)

print(mean_scores)

#             348.953846
Total         438.092308
HP             68.015385
Attack         75.969231
Defense        70.892308
Sp. Atk        79.276923
Sp. Def        73.061538
Speed          70.876923
Generation      3.215385
Legendary       0.153846
A/D Ratio       1.309597
dtype: float64